.NewTodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 20rem;
    margin-top: 2rem;
    padding: 2rem;
    padding-top: 0;
    box-sizing: border-box;
}
.NewTodoForm input {
    width: 100%;
    box-sizing: border-box;
    min-height: 3rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1px solid white;
}
.NewTodoForm-button {
    min-height: 2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #2980b9;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: .25rem;
    cursor: pointer;
}

@media only screen and (min-width: 416px) and (max-width: 1025px) {
    .NewTodoForm {
        width: 75%;
    }
    .NewTodoForm input {
        font-size: 2rem;
        padding: 1rem;
    }
    .NewTodoForm-button {
        font-size: 2rem;
        padding: 1rem;
    }
}