.Todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3498db;
    margin: .1rem 0;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    cursor: pointer;
}
.Todo-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: .5em 0;
}
.Todo-form input {
    padding: .5rem 1rem;
    font-size: .8rem;
}
.Todo-button {
    color: white;
    font-size: 1rem;
    padding: .2rem;
    cursor: pointer;
    background: none;
    border: none;
}
.complete {
    text-decoration: line-through;
    color: rgba(210,210,210)
}

@media only screen and (min-width: 416px) and  (max-width: 1025px) {
    .Todo {
        font-size: 2rem;
    }
    .Todo-button {
        font-size: 2rem;
    }
    .Todo-form input {
        font-size: 2rem;
    }
}